{#=== Options ============================================================================#}

{% set attr_opt = {
    class:        field.class|default(''),
    name_id:      key,
    required:     field.required|default(false),
    readonly:     field.readonly|default(false)
}%}

{#=== FIELDSET ============================================================================#}
<fieldset class="picon-selector">
    <div class="col-sm-12">
        <div>
            <label class="control-label">{{field.label|default(key)}}</label>
        </div>
        <div id="picon-selector-items">
          {{dump(context.content.values)}}
          {% set currentValue = field.values|first %}
          {% for key, value in field.values %}
            {% set isSelected =  (key == context.content.get(key|capitalize)) %}
            {% if isSelected %}
              {% set currentValue = value %}
            {% endif %}
            <div class="picon-select-item{% if isSelected %} selected{% endif %}" data-picon="{{value}}">
              <i class="{{field.prepend_class}}{{value}}"></i>
            </div>
          {% endfor %}
          <div class="clearfix"></div>
        </div>
        <input type="text" id="picon-selected-item-field" value="{{currentValue}}" {{ macro.attr(attr_opt) }}>
    </div>
</fieldset>
